---
import { Icon } from "astro-icon/components";
import type { HeroProps } from "@types";
type Props = HeroProps;

const { name, specialty, summary, email, github, linkedin } = Astro.props;
---

<div class="py-24 md:py-48" id="#hero">
  <h1
    class="text-7xl font-serif mb-1.5 sm:text-8xl md:text-9xl md:mb-0 text-white font-bold tracking-tightest"
  >
    {name}
  </h1>
  <p
    class="text-4xl sm:text-5xl leading-[46px] md:text-6xl font-serif text-primary font-bold tracking-tighter mb-9"
  >
    {specialty}
  </p>
  <p class="text-neutral font-normal text-base md:text-lg mb-16">
    {summary}
  </p>

  <div class="flex flex-wrap gap-4">
    <a
      class="text-sm py-5 px-5 text-[#fff] inline-flex items-center gap-2 font-medium leading-5 border border-primary rounded-full hover:bg-primary hover:text-white transition-all duration-300 ease-in-out"
      href={`${github}`}
    >
      <Icon name="github" size={20} />
      
    </a>
    <a
      class="text-sm py-5 px-5 text-[#fff] inline-flex items-center gap-2 font-medium leading-5 border border-primary rounded-full hover:bg-primary hover:text-white transition-all duration-300 ease-in-out"
      href={`${linkedin}`}
    >
      <Icon name="linkedin" size={20} />
      
    </a>
    <a
      class="text-sm py-5 px-5 text-[#fff] inline-flex items-center gap-2 font-medium leading-5 border border-primary rounded-full hover:bg-primary hover:text-white transition-all duration-300 ease-in-out"
      href={`mailto:${email}`}
    >
      <Icon name="mail" size={20} />
      
    </a>
  </div>
</div>

